.section-forgot-password {
  padding: 80px 0;

  &__inner {
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    font-weight: 700;
    @include adaptive-value('font-size', 48, 32, 1);
    color: map-get($brand, 500);
    @include adaptive-value('margin-bottom', 20, 12, 1);
  }

  &__description {
    @include adaptive-value('font-size', 24, 16, 1);
    color: map-get($brand, 400);
    @include px-to-percent-line-height(32px, 24px);
    margin-bottom: 40px;
  }

  &__button{
    margin-top: 44px;

    @include media ("<tablet") {
        margin-top: 24px;
    }
  }
}
