.sell-my-watch-number-one {
  padding: 80px 0;

  .container {
    max-width: 1154px;
  }

  &__inner {
    text-align: center;
  }

  &__title {
    @include adaptive-value('font-size', 48, 32, 1);
    @include px-to-percent-line-height(56px, 48px);
    @include adaptive-value('margin-bottom', 20, 12, 1);
    font-weight: 700;
    text-align: center;
  }

  &__text {
    @include adaptive-value('font-size', 24, 16, 1);
    @include px-to-percent-line-height(32px, 24px);
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
    @include adaptive-value('margin-bottom', 40, 12, 1);
  }

  &__content {
    display: grid;
    align-items: stretch;
    grid-template-columns: auto auto;
    gap: 40px;
    @include adaptive-value('padding', 40, 24, 1);
    background:
      url('/images/leather.png') center / cover no-repeat,
      map-get($brand, 500);
    border-radius: 40px;
    @include adaptive-value('margin-bottom', 60, 80, 1);

    @include media('<desktop') {
      grid-template-columns: 1fr;
      justify-items: center;
      margin: 0 auto 80px auto;
      gap: 16px;
    }

    @include media ("<tablet") {
      padding: 24px 16px;
    }
  }

  &__left-col {
    max-width: 480px;
    width: 100%;
    border-radius: 24px;
    overflow: hidden;
    border: 6px solid #a17c36;
    display: flex;

    @include media('<desktop') {
      max-height: 480px;
      max-width: 530px;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }

  &__right-col {
    max-width: 530px;
    width: 100%;
    height: max-content;
    margin: auto;
    @include adaptive-value('padding', 40, 20, 1);
    background-color: map-get($neutral, 100);
    @include adaptive-value('border-radius', 32, 20, 1);
  }

  &__steps {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 8px 9px;
    @include adaptive-value('margin-bottom', 40, 24, 1);

    @include media('<desktop') {
      flex-direction: column;
      align-items: center;
    }
  }

  &__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 256px;
    max-width: 256px;
    text-align: center;

    &-icon {
      width: 44px;
      height: 44px;
      margin-bottom: 12px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-label {
      display: block;
      font-size: 14px;
      font-weight: 600;
      color: map-get($brand, 400);
      text-transform: uppercase;
      @include adaptive-value('margin-bottom', 24, 12, 1);
    }

    &-title {
      @include adaptive-value('font-size', 20, 16, 1);
      @include px-to-percent-line-height(24px, 20px);
      font-weight: 500;
      @include adaptive-value('margin-bottom', 12, 8, 1);
      text-transform: none;
    }

    &-text {
      @include adaptive-value('font-size', 16, 14, 1);
      @include px-to-percent-line-height(20px, 16px);
      color: map-get($brand, 500);
    }
  }

  &__divider {
    max-width: 164px;
    width: 100%;
    height: 1px;
    background: linear-gradient(220.32deg, #dcdce2 2.74%, #4b4f55 120.82%);
    margin-top: 21px;

    @include media('<desktop') {
      margin: 0;
      height: 80px;
      width: 1px;
    }
  }
}
