<header id="header" class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__left-col">
                <button class="header__burger-menu" type="button" aria-label="Open menu" aria-expanded="false">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <a href="index.html" class="header__logo-link">
                    {{{picture "/images/logo.png" alt="Logo" class="header__logo"}}}
                </a>
                <button class="header__button-contact" type="button" aria-label="Contact us" aria-expanded="false"
                    data-open-contact-modal>
                    Contact Us
                </button>
            </div>
            <div class="header__middle-col">
                <nav class="header__nav" aria-label="Main navigation">
                    <ul class="header__nav-list">
                        <li class="header__nav-item">
                            <a href="sell-my-watch.html" class="header__nav-link">
                                Sell My Watch
                            </a>
                        </li>
                        <!-- <li class="header__nav-item">
                            <a href="#" class="header__nav-link">
                                Shop Watches
                            </a>
                        </li> -->
                    </ul>
                </nav>
            </div>
            <div class="header__right-col">
                <div class="header__action-buttons">
                    <button class="header__action-button" type="button" aria-label="Search">
                        <img src="/icons/search.svg" alt="" width="24" height="24" aria-hidden="true">
                    </button>
                    <a href="login.html" class="header__action-button header__action-button--profile"
                        aria-label="Profile">
                        <svg class="header__profile-icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path
                                d="M12.1586 10.87C12.0586 10.86 11.9386 10.86 11.8286 10.87C9.44859 10.79 7.55859 8.84 7.55859 6.44C7.55859 3.99 9.53859 2 11.9986 2C14.4486 2 16.4386 3.99 16.4386 6.44C16.4286 8.84 14.5386 10.79 12.1586 10.87Z"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path
                                d="M7.15875 14.56C4.73875 16.18 4.73875 18.82 7.15875 20.43C9.90875 22.27 14.4188 22.27 17.1688 20.43C19.5888 18.81 19.5888 16.17 17.1688 14.56C14.4288 12.73 9.91875 12.73 7.15875 14.56Z"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </a>
                    <button class="header__action-button" type="button" aria-label="Shopping cart">
                        <img src="/icons/bag.svg" alt="" width="24" height="24" aria-hidden="true">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="header__bottom-inner">
                <img src="/icons/mini-logo.svg" alt="image not found" width="37" height="24" aria-hidden="true"
                    class="header__bottom-logo">
                <span class="header__bottom-text">100% Certified Authentic </span>
            </div>
        </div>
    </div>
</header>