<div id="sign-out-popup" class="sign-out-popup" role="dialog" aria-modal="true"
    aria-labelledby="sign-out-popup-title" aria-hidden="true" data-sign-out-redirect="login.html">
    <div class="sign-out-popup__inner">
        <button type="button" class="sign-out-popup__close" aria-label="Close dialog">
            <img src="/icons/cross.svg" alt="" width="24" height="24" aria-hidden="true">
        </button>
        <div class="sign-out-popup__content">
            <h2 id="sign-out-popup-title" class="sign-out-popup__title">Are you sure you want to sign out?</h2>
            <div class="sign-out-popup__actions">
                <button type="button" class="sign-out-popup__btn sign-out-popup__btn--cancel btn btn_primary"
                    data-sign-out-dismiss>Cancel</button>
                <button type="button" class="sign-out-popup__btn sign-out-popup__btn--confirm btn btn_primary-white"
                    id="sign-out-popup-confirm">Sign out</button>
            </div>
        </div>
    </div>
</div>
